<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fundssystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F20BA7B81D10E64A00DFF6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F20BA7D11D10E64A00DFF6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F20BA7DC1D10E64B00DFF6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
